<section class="preview hidden">                        
    <div class="col-sm-7">
        <h4>Previsualización de los datos del ciudadano</h4>
        <p>Selecciona el CURP correspondiente a tu identidad antes de continuar.</p>
        <!-- p>Selecciona el folio correspondiente a su acta de nacimiento antes de continuar.</p -->
        <br>
        <form class="top-buffer">
            <div class="form-group">
                <div class="radio">
                    <div class="col-sm-12 active" style="background-color: #eee; padding: 18px 14px; margin-bottom: 18px;">
                        <label>                                               
                            <input type="radio" name="radio-01" value="opcion-01"> HUTR840605HDFRRB00 - Fernando Huerta Trejo
                        </label>
                    </div>
                    <br/>
                    <div class="col-sm-12" style="padding: 18px 14px; margin-bottom: 18px;">
                        <label class="col-md-12 clearfix">
                            <input type="radio" name="radio-01" value="opcion-02"> HUTR840605HDFRRB00 - Fernando Huerta Trejo
                        </label>
                    </div>
                </div>
            </div>
            <div class="top-buffer"></div>
            <button type="button" class="btn btn-primary next_step">Siguiente</button>
        </form>                            
    </div>

    <div class="col-md-5 pull-right">                            
        <div class="panel panel-default">
            <div class="panel-heading">
                Datos del ciudadano
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-4">
                    <small>Folio:</small>
                    <p>903241</p>
                </div>
                <div class="form-group col-sm-4">
                    <small>Oficialia:</small>
                    <p>32</p>
                </div>
                <div class="form-group col-sm-4">
                    <small>Foja:</small>
                    <p>0</p>
                </div>
                <div class="form-group col-sm-12"><hr style="margin:0;"></div>
                <div class="form-group col-sm-6">
                    <small>CURP:</small>
                    <p>HUTR840605HDFRRB00</p>
                </div>
                <div class="form-group col-sm-6">
                    <small>Fecha de nacimiento:</small>
                    <p>05/06/1984</p>
                </div>

                <div class="form-group col-sm-12">
                    <small>Nombre(s):</small>
                    <p>Roberto Fernando</p>
                </div>
                <div class="form-group col-sm-6">
                    <small>Primer apellido:</small>
                    <p>Huerta</p>
                </div>
                <div class="form-group col-sm-6">
                    <small>Segundo apellido:</small>
                    <p>Trejo</p>
                </div>

                <div class="form-group col-sm-12"><hr style="margin:0;"></div>

                <div class="form-group col-sm-6">
                    <small>Nombre(s) segundo padre o tutor:</small>
                    <p>Roberto Fernando</p>
                    
                    <small>Primer apellido:</small>
                    <p>Huerta</p>
                
                    <small>Segundo apellido:</small>
                    <p>Trejo</p>
                </div>

                <div class="form-group col-sm-6">
                    <small>Nombre(s) primer padre o tutor:</small>
                    <p>Roberto Fernando</p>
                    
                    <small>Primer apellido:</small>
                    <p>Huerta</p>
                
                    <small>Segundo apellido:</small>
                    <p>Trejo</p>
                </div>

                <br>
                <div class="form-group col-sm-12 top-buffer">
                    <small>Esta información no representa un documento válido, es únicamete para propositos informativos.</small>
                </div>
            </div>
        </div>                            
    </div>                        
    <div class="row clearfix bottom-buffer">
        <div class="col-sm-7">
            <hr>
            <p><small>¿Hay algún dato incorrecto en tu información? Reportalo a la mesa de ayuda de gob.mx</small></p>
            <a href="#"><small>Reportar un problema</small></a>
            
        </div>
    </div>
</section>