<section class="confirmation hidden">
    <div class="col-md-6">
        <div class="loader  hidden" style="text-align: center; margin-top: 20%;">
            <img src="images/oval.svg" width="50" alt="">
        </div>
        <div class="exito">
            <h4>¡Pago realizado exitosamente!</h4>
            <p>Descarga tu acta o solicita que se te envíe a tu correo electrónico.</p>
            
            <div class="form-group">
                <a href="" class="recibo-btn">Generar recibo de pago</a>
            </div>
            <div class="row">
                <div class="form-group col-sm-9 top-buffer">
                    <a href="" class="recibo-btn">Enviar por correo electrónico</a>
                    <p></p>
                    <input type="text" class="form-control" placeholder="Correo electrónico" />
                    <br>
                    <button type="button" class="btn btn-primary">Solicitar envío por correo</button>
                </div>
            </div>
            <div class="form-group top-buffer">
                <button type="button" class="btn btn-primary download-btn" style="margin-right: 18px;"><i class="glyphicon glyphicon-download-alt"></i>Descargar Acta</button>
            </div>
            <div class="loader download-loading pull-right hidden" style="margin-top: 8px; margin-right: 14px;">
                <img src="images/oval.svg" width="30" alt="" />
            </div>                        
        </div>
    </div>
    <div class="col-sm-8">
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <small>¿Hubo algún problema con el trámites?</small>
                <br>
                <a href="#"><small>Reportar un problema</small></a>
            </div>
        </div>
    </div>
</section>